*{
    font-family: 'Roboto', sans-serif;
}


header{
   background-color: #122a51; 
}


.cabeçalho{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    color: white;
}


#titulo-cabeçalho{
    font-size: 36px;
    font-weight: 400;
}

.cabeçalho nav ul li{
    display: inline-block;
    margin-left: 1em;
}

a{
    text-decoration: none;
    color: white;
}


.container{

    display: flex;
    width: 80%;
    margin:  auto;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100vh;
    
}

.texto-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-inicial p{
    font-size: 20px;
}

.titulo{
    color: #122a51;
    font-size: 64px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.titulo-sobre{
    color: #122a51;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.saiba-mais{
    background-color: #122a51;
    display: flex;
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 300;
    border-radius: 30px;
}




